MYSQL_DATABASE=pokemon_rpg
MYSQL_USER=pokemon_rpg
MYSQL_PASSWORD=troque-esta-senha
MYSQL_ROOT_PASSWORD=troque-esta-senha-root
# Opcional quando o RPG e o MySQL estiverem em maquinas diferentes:
# RPG_MYSQL_HOST=127.0.0.1
# RPG_MYSQL_PORT=3306
